/Programs/Ex2/squares/nbproject/private/
/Programs/Ex2/Squares/nbproject/private/
/Programs/Ex2/test/nbproject/private/
/Programs/Ex2/Squares/build/
/Programs/Ex2/Squares/dist/
/Programs/Ex2/squares/dist/
/Programs/Ex2/squares/build/
/Programs/Ex2/Asterisks/nbproject/private/
/Programs/Ex2/Asterisks/build/
/Programs/Ex2/Flag/nbproject/private/
/Programs/Ex2/Flag/build/
/Programs/Ex2/PrintDesign/nbproject/private/
/Programs/Ex2/PrintDesign/build/
/Programs/Ex2/PrintDesign/dist/
/Programs/Program2/Program2_Staircase/nbproject/private/
/Programs/Program2/Program2_Staircase/build/
/Programs/Ex3/PrintPowersOf2/nbproject/private/
/Programs/Ex3/PrintPowersOf2/build/
/Programs/Ex3/PrintPowersOf2/dist/
/Programs/Ex3/printPowersOfN/nbproject/private/
/Programs/Ex3/printPowersOfN/build/
/Programs/Ex3/BMI/nbproject/private/
/Programs/Ex3/BMI/build/
/Programs/Ex4/EvenSumMax/nbproject/private/
/Programs/Ex4/EvenSumMax/build/
/Programs/Program3/StartMotorcycle/nbproject/private/
/Programs/Program3/StartMotorcycle/build/
/Programs/Ex4/SwapPairs/nbproject/private/
/Programs/Ex4/SwapPairs/build/
/Programs/Ex5/AllDigitsOdd/nbproject/private/
/Programs/Ex6/CountCoins/nbproject/private/
/Programs/Ex6/CountCoins/build/
/Programs/Ex6/CountCoins/CountCoins.zip
/Programs/Ex6/CountCoins/CountCoins.java
/Programs/Program4/Interest.java/nbproject/private/
/Programs/Program4/Interest.java/build/