/Programs/Ex2/squares/nbproject/private/
/Programs/Ex2/Squares/nbproject/private/
/Programs/Ex2/test/nbproject/private/
/Programs/Ex2/Squares/build/
/Programs/Ex2/Squares/dist/
/Programs/Ex2/squares/dist/
/Programs/Ex2/squares/build/
/Programs/Ex2/Asterisks/nbproject/private/
/Programs/Ex2/Asterisks/build/
/Programs/Ex2/Flag/nbproject/private/
/Programs/Ex2/Flag/build/
/Programs/Ex2/PrintDesign/nbproject/private/
/Programs/Ex2/PrintDesign/build/
/Programs/Ex2/PrintDesign/dist/
/Programs/Program2/Program2_Staircase/nbproject/private/
/Programs/Program2/Program2_Staircase/build/